.frame {
  
  width: 100vw;
  height: 50vh;

  &__image {
    width: 100vw;
    height: 50vh;
    opacity: 0.6;
  }

  &__title {
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.4rem;
    position: absolute;
    transform: translate(-50%, -50%);
    

    &-main {
      top: 28%;
      left: 50%;
      font-weight: 600;
    }

    &-sub {
      top: 35%;
      left: 50%;
    }
  }
}

@media (max-width: 850px) {
  .frame {
    &__title {
      &-main {
        font-size: 1em;
      }
  
      &-sub {
        font-size: 0.8em;
      }
    }
  }
}

@media (max-width: 570px) {
  .frame {
    &__title {
      &-main {
        font-size: 0.8em;
      }
  
      &-sub {
        font-size: 0.7em;
      }
    }
  }
}

@media (max-width: 460px) {
  .frame {
    &__title {
      &-main {
        font-size: 0.6em;
      }
  
      &-sub {
        font-size: 0.6em;
      }
    }
  }
}

@media (max-width: 400px) {
  .frame {
    &__title {
      &-main {
        top: 50%;
        left: 50%;
        font-size: 0.6em;
      }
  
      &-sub {
        top: 55%;
        left: 50%;
        font-size: 0.6em;
      }
    }
  }
}

@media (max-width: 360px) {
  .frame {
    &__title {
      &-main {
        top: 55%;
        left: 50%;
        font-size: 0.6em;
      }
  
      &-sub {
        top: 62%;
        left: 50%;
        font-size: 0.6em;
      }
    }
  }
}