.navbar {
  background-color: #0d1f17;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;

  &__logo {
    color: #ffffff;
    font-size: 1.8em;
  }

  &__links {
    display: flex;

    &__items {
      color: #ffffff;
      text-decoration: none;
      list-style: none;
      margin: 0 0.4rem;
      padding: 1rem 0.2rem;
    }

    &__items:hover {
      background-color: #ffffff23;
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .navbar {
    flex-direction: column;

    &__links {
      display: flex;
      flex-direction: column;
  
      &__items {
        text-align: center;
      }
  
      &__items:hover {
        background-color: #ffffff23;
      }
    }
  }
}